<!-- トークテーマルーレット -->
<section class="theme__roulette">
  <div class="theme__rouletteContainer">
    <div id="js-theme-display" class="theme__display">No theme selected</div>
    <div class="theme__buttonContainer">
      <button id="js-start-button" class="theme__startButton">START</button>
      <button id="js-stop-button" class="theme__stopButton">STOP</button>
    </div>
  </div>

  <!-- トークテーマを追加する -->
  <div class="theme__add">
    <form id="js-theme-from" class="theme__form">新しいトークテーマ：
      <input id="js-theme-form-input" class="theme_text_area" type="text" />
      <button id="js-add-button" class="theme_add_button">追加</button>
    </form>
  </div>

  <!-- トークテーマリスト -->
  <div>
    <div id="js-theme-list" class="theme_listContainer"></div>
  </div>
</section>
