<!-- トークテーマを追加する -->
<section class="theme__add">
  <form id="js-theme-from">新しいトークテーマ：
    <input id="js-theme-form-input" class="theme_text_area" type="text" />
    <button id="js-add-button" class="theme_add_button">追加</button>
  </form>

<!-- トークテーマリスト -->
  <div id="js-theme-list" class="theme_list"></div>
  <div id="js-theme-display" class="theme_display">No theme selected</div>
  <button id="js-start-button">START</button>
  <button id="js-stop-button">STOP</button>
</section>
