<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="description" />
  <meta property="og:url" content="https://example.com/" />
  <meta property="og:title" content="title" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="description"/>
  <%# TODO: OGP画像は必ず絶対パスを指定する %>
  <meta property="og:image" content="https://example.com/assets/images/ogp.png" />
  <meta property="og:site_name" content="title" />
  <meta property="og:locale" content="ja" />
  <meta property="twitter:card" content="summary_large_image" />
  <title>title</title>
  <link rel="icon" href="./assets/images/favicon.ico" />
  <link rel="canonical" href="https://example.com/" />
  <link rel="stylesheet" href="./assets/css/common.css" />
  <script src="./assets/js/common.js" defer></script>
</head>
